.projects-grid {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 80px;
    justify-content: space-between;
}
.project-image {
    width: 600px;
}
.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-container img {
    cursor: pointer;
}
